<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <!--应用名称-->
    <add key="AppName" value="WebAPI" />
    
    <!--部署环境-->
    <add key="Environment" value="Develop" />

    <!--metrics-->
    <!--全局开关-->
    <add key="Metrics.CompletelyDisableMetrics" value="false"/>
    <!--要监控的接口的正则表达式，.*表示全局监控-->
    <add key="Metrics.Actions" value=".*"/>
    <!--埋点全局名称，若不设置此项，则默认按照机器名为前缀统计，不便于多台服务器的合计-->
    <add key="Metrics.GlobalContextName" value="Cqwang" />
    <add key="Metrics.InfluxDb.Host" value="localhost" />
    <add key="Metrics.InfluxDb.Port" value="8086" />
    <add key="Metrics.InfluxDb.DB" value="db_metrics" />
    <add key="Metrics.InfluxDb.UserName" value="admin" />
    <add key="Metrics.InfluxDb.Password" value="admin" />
    <add key="Metrics.InfluxDb.Interval.Seconds" value="10" />
    <add key="Metrics.InfluxDb.BatchSize" value="5" />
    <!--写入失败重试次数-->
    <add key="Metrics.Reports.ToleratedConsecutiveFailures" value="3" />


    <!--<add key="Metrics.HttpListener.HttpUriPrefix" value="http://localhost:1234/metrics/"/>
    <add key="Metrics.Console.Interval.Seconds" value="10"/>
    <add key="Metrics.CSV.Path" value="..\MetricsCSV\"/>
    <add key="Metrics.CSV.Interval.Minutes" value="10"/>
    <add key="Metrics.TextFile.Path" value="..\Metrics.txt"/>
    <add key="Metrics.TextFile.Interval.Minutes" value="60"/>-->
    
  </appSettings>
</configuration>